



// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

body {
  background-color:$black !important;
  color: $white;
}

@media (min-width: 1200px){
  .container {
    max-width: 1500px;
  }
}

.card-header {
  color: #000;
}

.carousel:not(:last-child) {
  align-self: start;
}

ul.row {
  width: 90%;
  margin: auto;
}


.carousel {
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;

  .carousel-inner {
    border-radius: 10px;
    width: 350px;
    height: 250px;
    color: $white;

    .carousel-item {
      object-fit: contain;
    }

    .partner-details {
      position: absolute;
      top: 115px;
      left: 12px;
      width: 80px;
      height: 60px;
      padding: 0px;
      border-radius: 7px;
      background: rgb(0,0,0);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      font-size: 10px;
      text-align: center;
    }

    .placement-bar {
      position: absolute;
      width: 100%;
      background: rgba(0,0,0,0.8);
      padding: 20px 15px 35px;
      text-align: center;
      margin-top: 156px;
    }
  }
}
////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}
