{% load static i18n compress%}
<!DOCTYPE html>
<html lang="bs">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}blackba{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Coupons and other discounts">
  <meta name="author" content="Arza Grbic">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <!-- Your stuff: Third-party CSS libraries go here -->
  {% compress css %}
  <!-- This file stores project-specific CSS -->
  <link rel="stylesheet" type="text/x-scss" href="{% static  'sass/project.scss' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />

  <!-- <link href="{% static 'sass/project.scss' %}" rel="stylesheet"> -->

  {% endcompress %}
  {% endblock %}
  <!-- Le javascript
    ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}

  <!-- Bootstrap JS and its dependencies-->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"
    integrity="sha384-SMQY6km0HNF/4ZQFLn+ksQGfOZcdUItGFzYtcFEtdC5LdIgQ74RSJNYwBRzNsHWK" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.0.js"
    integrity="sha384-Te3ltuYHeiA5s5F5AZJT+ypl5KHViBntHsSyFm38sNPyiMAOYCIMiegWF4UT+vxK"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Your stuff: Third-party javascript libraries go here -->


  <!-- place project specific Javascript in this file -->
  {% compress js %}
  <script defer src="{% static 'js/project.js' %}"></script>
  {% endcompress %}

  {% endblock javascript %}

</head>

<body class="is-preload">
  <!-- Header -->
  <section id="header" class="dark">
    <header>
      <div class="menu">
        {% if request.user.is_authenticated %}
          <a href="{% url 'users:update' %}">{% trans "My Profile" %}</a>
          <a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
        {% else %}
          <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
          <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
        {% endif %}
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          {% for coupon in coupons.top_offers %}
          <div class="carousel-item" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/media/{{coupon.photos.all.0.image}}')">
            <div class="carousel-caption d-md-block">
              {% autoescape off %}
              <h2 class="display-4">{{ coupon.title }}</h2>
              <p class="lead">{{ coupon.short_description }}.</p>
              {% endautoescape %}
            </div>
            <div class="price">
              <span class="price-before">{{ coupon.price_before }}</span> KM
              <br>
              <span class="price-now">{{ coupon.price_now }}</span> KM
            </div>
          </div>
          <!-- <div class="carousel-item" style="background-image: url('https://source.unsplash.com/bF2vsubyHcQ/1920x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4">Second Slide</h2>
              <p class="lead">This is a description for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4">Third Slide</h2>
              <p class="lead">This is a description for the third slide.</p>
            </div>
          </div> -->
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div>
    </header>
    <footer>
      <!-- <a href="#first" class="button scrolly">Proceed to second phase</a> -->
    </footer>
  </section>
  <!-- First -->
  <section id="first" class="main">
    <header>
      <div class="container">
        {% block content %}
        <p>Coupons and discounts.</p>
        {% endblock content %}
      </div>
    <!-- </header>
    <div class="content dark style1 featured">
      <div class="container">
        <div class="row">
          <div class="col-4 col-12-narrow">
            <section>
              <span class="feature-icon"><span class="icon fa-clock"></span></span>
              <header>
                <h3>Gravida</h3>
              </header>
              <p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
                Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
                ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
                accumsan vivamus.</p>
            </section>
          </div>
          <div class="col-4 col-12-narrow">
            <section>
              <span class="feature-icon"><span class="icon solid fa-bolt"></span></span>
              <header>
                <h3>Vivamus</h3>
              </header>
              <p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
                Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
                ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
                accumsan vivamus.</p>
            </section>
          </div>
          <div class="col-4 col-12-narrow">
            <section>
              <span class="feature-icon"><span class="icon solid fa-cloud"></span></span>
              <header>
                <h3>Accumsan</h3>
              </header>
              <p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
                Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
                ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
                accumsan vivamus.</p>
            </section>
          </div>
          <div class="col-12">
            <footer>
              <a href="#second" class="button scrolly">Gravida tempor lacinia</a>
            </footer>
          </div>
        </div>
      </div>
    </div> -->
  </section>
  <!-- Second -->
  <!-- <section id="second" class="main">
    <header>
      <div class="container">
        <h2>Euismod sed feugiat lorem tempus magna</h2>
        <p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit
          amet consequat<br />
          feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum
          dolor sit amet.</p>
      </div>
    </header>
    <div class="content dark style2">
      <div class="container">
        <div class="row">
          <div class="col-4 col-12-narrow">
            <section>
              <h3>Augue vivamus sed ipsum commodo lorem dolor</h3>
              <p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
                tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
                vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
                augue cubilia vivamus nisi eu eget ornare varius gravida euismod. Gravida dis
                lorem ipsum dolor placerat magna tempus feugiat.</p>
              <p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
                accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
                euismod lorem ipsum dolor.</p>
              <footer>
                <a href="#third" class="button scrolly">Accumsan nisi tempor</a>
              </footer>
            </section>
          </div>
          <div class="col-8 col-12-narrow">
            <div class="row">
              <div class="col-6"><a href="#" class="image fit"><img src="images/pic01.jpg" alt="" /></a></div>
              <div class="col-6"><a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a></div>
              <div class="col-6"><a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a></div>
              <div class="col-6"><a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a></div>
              <div class="col-6"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a></div>
              <div class="col-6"><a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Fourth -->
  <section id="fourth" class="main">
    <header>
      <div class="container">
        <h2>Kontaktirajte nas</h2>
        <!-- <p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit
          amet consequat<br />
          feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum
          dolor sit amet.</p> -->
      </div>
    </header>
    <div class="content style4 featured">
      <div class="container medium">
        <form action="{% url 'contact' %}" method="post">
          {% csrf_token %}
          <div class="row gtr-50">
            <div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
            <div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
            <div class="col-12"><textarea name="message" placeholder="Message"></textarea></div>
            <div class="col-12">
              <ul class="actions special">
                <li><input type="submit" class="button" value="Send Message" /></li>
                <li><input type="reset" class="button alt" value="Clear Form" /></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <section id="footer">
    <ul class="icons">
      <li><a href="#" style="background-image: url('{% static '/images/fb.png' %}')"><span class="label"></span></a></li>
      <li><a href="#" style="background-image: url('{% static '/images/twitter.png' %}')"><span class="label"></span></a></li>
      <li><a href="#" style="background-image: url('{% static '/images/instagram.png' %}')"><span class="label"></span></a></li>
    </ul>
    <div class="copyright">
      <ul class="menu">
        <li>&copy; black.ba, 2021</li>
      </ul>
    </div>
  </section>

  <!-- Scripts -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
  <script src="{% static 'js/browser.min.js' %}"></script>
  <script src="{% static 'js/breakpoints.min.js' %}"></script>
  <script src="{% static 'js/util.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block inline_javascript %}
  {# Script tags with only code, no src (defer by default) #}
  {% endblock inline_javascript %}
</body>

</html>
