/* line 20, black/static/sass/project.scss */
body {
  background-color: #000 !important; }

/* line 31, black/static/sass/project.scss */
.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

/* line 37, black/static/sass/project.scss */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }
