/* line 20, black/static/sass/project.scss */
body {
  background-color: #000 !important;
  color: #fff; }

/* line 25, black/static/sass/project.scss */
.card-header {
  color: #000; }

/* line 29, black/static/sass/project.scss */
.carousel {
  width: 350px;
  height: 250px; }

/* line 40, black/static/sass/project.scss */
.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

/* line 46, black/static/sass/project.scss */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }
