/* line 20, black/static/sass/project.scss */
body {
  background-color: #000 !important;
  color: #fff; }

@media (min-width: 1200px) {
  /* line 26, black/static/sass/project.scss */
  .container {
    max-width: 1500px; } }

/* line 31, black/static/sass/project.scss */
.card-header {
  color: #000; }

/* line 35, black/static/sass/project.scss */
.carousel:not(:last-child) {
  margin-right: 50px; }

/* line 39, black/static/sass/project.scss */
ul.row {
  width: 90%;
  margin: auto; }

/* line 45, black/static/sass/project.scss */
.carousel {
  margin-bottom: 50px;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: white; }
  /* line 53, black/static/sass/project.scss */
  .carousel .carousel-inner {
    width: 350px;
    height: 250px; }
    /* line 57, black/static/sass/project.scss */
    .carousel .carousel-inner .carousel-item {
      object-fit: contain; }
    /* line 61, black/static/sass/project.scss */
    .carousel .carousel-inner .partner-details {
      position: absolute;
      top: 115px;
      left: 12px;
      width: 80px;
      height: 60px;
      padding: 0px;
      border-radius: 7px;
      background: black;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      font-size: 10px;
      text-align: center; }
    /* line 78, black/static/sass/project.scss */
    .carousel .carousel-inner .placement-bar {
      position: absolute;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      padding: 20px 15px 35px;
      text-align: center;
      margin-top: 156px; }

/* line 95, black/static/sass/project.scss */
.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

/* line 101, black/static/sass/project.scss */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }
