/* line 20, black/static/sass/project.scss */
body {
  background-color: #000 !important;
  color: #fff; }

/* line 25, black/static/sass/project.scss */
.card-header {
  color: #000; }

/* line 29, black/static/sass/project.scss */
.carousel {
  margin-right: 50px;
  margin-bottom: 50px;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: white; }
  /* line 38, black/static/sass/project.scss */
  .carousel .ribbon {
    position: relative;
    padding: 0 0.5em;
    font-size: 2.000em;
    margin: 0 0 0 -0.625em;
    line-height: 1.875em;
    color: white;
    border-radius: 0 0.156em 0.156em 0;
    background: #0a9fc7;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5); }
  /* line 50, black/static/sass/project.scss */
  .carousel .ribbon:before, .carousel .ribbon:after {
    position: absolute;
    content: '';
    display: block; }
  /* line 56, black/static/sass/project.scss */
  .carousel .ribbon:before {
    width: 0.469em;
    height: 100%;
    padding: 0 0 0.438em;
    top: 0;
    left: -0.469em;
    background: inherit;
    border-radius: 0.313em 0 0 0.313em; }
  /* line 66, black/static/sass/project.scss */
  .carousel .ribbon:after {
    width: 0.313em;
    height: 0.313em;
    background: rgba(0, 0, 0, 0.35);
    bottom: -0.313em;
    left: -0.313em;
    border-radius: 0.313em 0 0 0.313em;
    box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.3); }
  /* line 76, black/static/sass/project.scss */
  .carousel .carousel-inner {
    width: 350px;
    height: 250px; }
    /* line 80, black/static/sass/project.scss */
    .carousel .carousel-inner .carousel-item {
      object-fit: contain; }

/* line 92, black/static/sass/project.scss */
.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

/* line 98, black/static/sass/project.scss */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }
