/* line 20, black/static/sass/project.scss */
body {
  background-color: #000 !important;
  color: #fff; }

/* line 25, black/static/sass/project.scss */
.container {
  margin: auto; }

@media (min-width: 1200px) {
  /* line 30, black/static/sass/project.scss */
  .container {
    max-width: 1500px; } }

/* line 35, black/static/sass/project.scss */
.card-header {
  color: #000; }

/* line 39, black/static/sass/project.scss */
.carousel:not(:last-child) {
  margin-right: 50px; }

/* line 44, black/static/sass/project.scss */
.carousel {
  margin-bottom: 50px;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: white; }
  /* line 51, black/static/sass/project.scss */
  .carousel .carousel-inner {
    width: 350px;
    height: 250px; }
    /* line 55, black/static/sass/project.scss */
    .carousel .carousel-inner .carousel-item {
      object-fit: contain; }
    /* line 59, black/static/sass/project.scss */
    .carousel .carousel-inner .placement-bar {
      position: absolute;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      padding: 20px 15px 35px;
      text-align: center;
      margin-top: 156px; }

/* line 76, black/static/sass/project.scss */
.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

/* line 82, black/static/sass/project.scss */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }
